*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway';
  font-weight: 600;
  font-style: normal;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: $darkblack;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.large-container {
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.link_button{
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background: $orange;
  text-align: center;
  cursor: pointer;
  transition: 0.4s all ease;
  &:hover{
    background-color: rgb(53, 250, 92);
    transform: scale(1.1);
  }
  &:active{
    background-color: $orange;
    transform: scale(1);
  }
}