.quetions{
    margin-top: 160px;
    margin-bottom: 254px;
    background-color: $quetionbg;
    &_items{
        display: flex;
    }
    &_form{
        max-width: 470px;
        max-height: 417px;
        background-color: $white;
        padding: 31px 50px 17px 50px;
        transform: translate(-65px, 33px);
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 118px;
            height: 131px;
            display: block;
            background-image: url(./../images/o.png);
            @include bg (contain, center)
            top: -27px;
            left: -75px;
        }
    }
    .form{
        &_variable{
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: $orange;
            margin-bottom: 15px;
        }
        &_title{
            font-weight: 700;
            font-size: 28px;
            line-height: 33px;
            text-transform: uppercase;
            color: $darkblack;
            margin-bottom: 20px;
        }
    }
    .quetions_form{
        display: flex;
        flex-direction: column;
    }
    .quetions_form input{
        @include input
        width: 371px;
        padding-bottom: 5px;
        margin-bottom: 25px;
    }
    .form_checkbox{
        @include flex
        margin-bottom: 20px;
        .checkboxtext{
            font-weight: 400;
            font-size: 11px;
            line-height: 13px;
            
        }
    }
    .form_checkbox input{
        max-width: 20px;
        margin-bottom: 0;
        margin-right: 10px;
    }
    .form_button{
        padding: 14px 20px;
        text-align: center;
        max-width: 209px;
        font-size: 15px;
        display: flex;
        justify-content: center;
        border: none;
        outline: 0; 
        margin: 0 auto;
    }
}

@media only screen and (max-width: 376px) { 
    .quetions{
        margin-top: 90px;
        background-color: $quetionbg;
        padding: 56px 0 56px 0;
        &_form{
            max-width: 340px;
            max-height: 370px;
            background-color: $white;
            padding: 31px 30px 17px 30px;
            // transform: translate(4px, 56px);
            transform: none;
            &::before{
                display: none;
            }
        }
        &_rightbg{
            display: none;
        }
        .form{
            &_variable{
                font-size: 10px;
                line-height: 12px;
                margin-bottom: 10px;
            }
            &_title{
                font-size: 19px;
                line-height: 23px;
                margin-bottom: 18px;
            }
        }
        .quetions_form input{
            @include input
            max-width: 268px;
            padding-bottom: 5px;
            margin-bottom: 20px;
        }
        .form_checkbox{
            @include flex
            .checkboxtext{
                font-weight: 400;
                font-size: 11px;
                line-height: 13px;
                margin-bottom: 0;
            }
        }
        .form_checkbox input{
            max-width: 20px;
            margin-bottom: 0;
            margin-right: 10px;
        }
        .form_button{
            padding: 10px 16px;
            text-align: center;
            max-width: 209px;
            font-size: 15px;
            display: flex;
            justify-content: center;
            border: none;
            outline: 0; 
            margin: 0 auto;
        }
    }
}